<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/login.css">
    <title>Login - voorraadbeheersysteem</title>
</head>

<body>
    <div class="container">
        <div class="loginHeader">
            <h1>VBS</h1>
            <h3>Voorraadbeheersysteem</h3>
        </div>

        <div>
            <div class="loginBody">
                <form action="">
                    <div class="form-group">
                        <label for="username">Gebruikersnaam</label>
                        <input type="text" />
                    </div>
                    <div class="form-group">
                        <label for="password">Wachtwoord</label>
                        <input type="password" />
                    </div>
                    <div>
                        <button>Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>